@model List<GorevListAllViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    int index = 0;
}

@foreach (var gorev in Model)
{
    index++;
    <div class="card m-3">

        <div class="card-header">
            @gorev.Ad
        </div>

        <div class="card-body">

            <h5 class="card-title">
                <span class="text-danger">@gorev.Aciliyet.Tanim</span>
            </h5>

            <p class="card-text">@gorev.Aciklama</p>

            <p class="text-right">

                @if (gorev.Raporlar.Count > 0)
                {
                    <a class="btn btn-dark btn-sm" data-toggle="collapse" href="#collapseExample-@index"
                       role="button" aria-expanded="false" aria-controls="collapseExample">
                        Raporlara Git <i class="fas fa-caret-down mx-1"></i>
                        <span class="badge badge-primary p-1" style="font-size:12px;">@gorev.Raporlar.Count</span>
                    </a>
                }
                else
                {
                    <span class="lead font-weight-bold p-2 d-block" style="font-size:medium; font-family:'Times New Roman', Times, serif">
                        Hiç rapor yazmamışsınız, bize görevinizdeki ilerlemelerinizden bahsedin!
                    </span>

                    <a asp-action="EkleRapor" asp-route-id="@gorev.Id"
                       class="btn btn-primary btn-sm mx-1" style="font-size:11px;">
                        Rapor Yaz <i class="fas fa-pencil-alt"></i>
                    </a>
                }

                <a asp-action="Index" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal" data-id="@gorev.Id">
                    Tamamlandı olarak işaretle
                </a>
            </p>

            <div class="collapse" id="collapseExample-@index">

                <a asp-action="EkleRapor" asp-route-id="@gorev.Id"
                   class="btn btn-primary btn-sm mx-1 my-2" style="font-size:11px;">
                    Rapor Yaz <i class="fas fa-pencil-alt"></i>
                </a>

                <table class="table table-hover table-bordered table-sm">
                    <thead class="table table-striped table-active">
                        <tr>
                            <th scope="col">Tanım</th>
                            <th scope="col">Detay</th>
                            <th scope="col">İşlem</th>
                        </tr>
                    </thead>
                    @foreach (var rapor in gorev.Raporlar)
                    {
                        <tr>
                            <td>@rapor.Tanim</td>
                            <td>@rapor.Detay</td>
                            <td>
                                <a asp-action="GuncelleRapor" asp-route-id="@rapor.Id" class="btn btn-danger btn-sm mr-2">
                                    <i class="fas fa-pencil-alt mr-2"></i> Düzenle
                                </a>
                            </td>

                        </tr>
                    }
                </table>
            </div>

        </div>
    </div>
}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UYARI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu işlemi gerçekleştirmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button type="button" id="btnKaydet" class="btn btn-primary">Evet</button>
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#exampleModal").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");
                $("#btnKaydet").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset = utf-8",
                        url: "./IsEmri/TamamlaGorev",
                        data: { gorevId: data },
                        success: function () {
                            toastr.error("İşlem başarıyla gerçekleşti.", "BAŞARILI");
                        },
                        error: function (error) {
                            toastr.error("HATA", "İşlem Başarısız");
                        }
                    })
                })

            });
        });

    </script>
}



