@model GorevListAllDto

@{
    ViewData["Title"] = "Detaylandir";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Raporlar.Count > 0)
{
    <a asp-action="GetirExcel" asp-route-id="@Model.Id" target="_blank" 
       class="btn btn-light my-2 mr-2"><i class="fas fa-file-excel mr-2"></i> Excel
    </a>
    <a asp-action="GetirPdf" asp-route-id="@Model.Id" target="_blank" 
       class="btn btn-light my-2 mr-2"><i class="fas fa-file-pdf mr-2"></i> Pdf
    </a>

    <table class="table table-hover text-center table-sm mt-2 table-bordered">
        <tr>
            <th colspan="2">
                @Model.AppUser.Name @Model.AppUser.SurName isimli personeliniz
                @Model.Ad görevine yazmış olduğu raporlar
            </th>
        </tr>
        <tr>
            <th>Tanım</th>
            <th>Detay</th>
        </tr>

        @foreach (var rapor in Model.Raporlar)
        {
            <tr>
                <td>@rapor.Tanim</td>
                <td>@rapor.Detay</td>

            </tr>
        }
    </table>
}
else
{
    <div class="border border-dark mt-2 text-center bg-white" style="background-color:darkgrey">
        @Model.AppUser.Name @Model.AppUser.SurName isimli personeliniz şu an
        @Model.Ad üzerinde çalışıyor. Henüz herhangi bir rapor yazmamış.
    </div>

}


